.playingGameDiv {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 5px solid white;
}

.homeSide {
  display: flex;
  justify-content: space-around;
}

.opponentSide {
  display: flex;
  justify-content: space-around;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
