.nonSessionMenu {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.socials {
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.mainMenu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileButton {
  position: absolute;
  top: 10%;
  right: 10%;
}
